* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(156, 159, 159);
  display: flex;
  font-family: font-family: "Orbitron", sans-serif;
}
.game-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-image: url(BG.jpg);
  background-size: contain;
  margin: 0 auto;
}
.container-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.try-again img {
  display: flex;
  width: 250px;
  height: auto;
  margin-left: 300px;
}
.between-number {
  font-size: 1.7em;
  color: #000;
}
.gmn {
  font-size: 4.5em;
  text-align: center;
  background-color: rgb(88, 129, 129);
  margin-bottom: 30px;
}
.guess-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5em;
  text-align: center;
  background-color: rgb(88, 129, 129);
  width: 20%;
  height: 250px;
  margin-top: 50px;

  border-radius: 10px;
}
.guess-nbr-container,
.game-msg-container,
.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.coin-img1 {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-left: 10px;
}
.coin-img1 img {
  width: 100px;
}
.coin-img2 img {
  width: 50px;
}
.game-msg p {
  font-size: 3em;
  margin-left: 7px;
}
.check-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  margin-right: 90px;
}
.input-value input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 120px;
  margin-bottom: 10px;
  background-color: black;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 3em;
  border: 3px solid #fff;
}
.check-button input {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 30px;
  border-style: none;
  background-color: red;
  color: #fff;
}
.score,
.highscore {
  display: flex;
  justify-content: center;
  margin-right: 150px;
  margin-bottom: 0;
  margin-top: 30px;
}
.score img,
.highscore img {
  width: 20%;
}
.score p,
.highscore p {
  display: flex;
  align-items: center;
  font-size: 2em;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  body{
    color: #fff;
  }
  .game-container {
    background-size: 100vh;
  }
  .container-head img{
    width: 75px;
  height: auto;
  margin-left: -5px;
  }
  .between-number {
    font-size: 0.8em;
  }
  .gmn {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
  }
  .guess-number {
    font-size: 2.5em;
    width: 30%;
    height: 100px;
    margin-top: 30px;
  
    border-radius: 10px;
  }
  .coin-img1 img, .coin-img2 img {
    width: 30px;
  }

  .input-value input {
    width: 100px;
    height: 80px;
    margin-left: 50px;
    font-size: 1.5em;
  }
  .check-button input {
    margin-left: 50px;
    margin-bottom: -1px;
  }
  .game-msg p {
    font-size: 2em;
  }
  .score,
.highscore {
  margin-right: 30px;
  margin-top: 15px;
}
.score img,
.highscore img {
  width: 30px;
}
.score p,
.highscore p {
  font-size: 1.2em;
}
}

@media screen and (min-width: 769px) and (max-width:1024px) {
  body{
    
    color: #fff;
  }
  .game-container {
    background-size: cover;
  }
  .container-head img{
    width: 100px;
  height: auto;
  margin-left: -5px;
  }
  .between-number {
    font-size: 1.2em;
  }
  .gmn {
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
  }
  .guess-number {
    font-size: 3.5em;
    width: 30%;
    height: 130px;
    margin-top: 30px;
  
    border-radius: 10px;
  }
  .coin-img1 img, .coin-img2 img {
    width: 40px;
  }

  .input-value input {
    width: 150px;
    height: 120px;
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 2.5em;
  }
  .check-button input {
    margin-left: 50px;
    margin-bottom: 10px;
    
  }
  .game-msg p {
    font-size: 2.5em;
  }
  .score,
.highscore {
  margin-right: 230px;
  margin-top: 15px;
}
.highscore {
  margin-right: -10px;
}
.score img,
.highscore img {
  width: 30px;
}
.score p,
.highscore p {
  font-size: 1.7em;
}
}